.reveal {
  font-family: "Helvetica", sans-serif;
  font-size: 26px;
  font-weight: normal;
  letter-spacing: -0.02em;
  color:#333;
  text-shadow:none;
}

body {
	transition: background 2s;
	-webkit-transition: background 2s; /* Safari */
	background:url("../img/draftbin/bokeh.jpg");
	background-position:center;
	background-size: 100%;
	background-repeat: no-repeat;
}

html .reveal h1, h2, h3, h4, h5, h6, p, small, ul {
	background-color: #f1f1f1;
	padding:10px;
	/* gah */
	color:#333 !important;
 	text-shadow:none;
}

.reveal ul {
	list-style-position: inside;
	padding:20px;
	width:500px;
}

html .reveal p small {
	font-size: 100%;
}

.reveal a:not(.image) {
  color: #ff0000;
  text-decoration: none;
  -webkit-transition: color .15s ease;
  -moz-transition: color .15s ease;
  -ms-transition: color .15s ease;
  -o-transition: color .15s ease;
  transition: color .15s ease; }

.reveal a:not(.image):hover {
  color: #ff0000;
  text-shadow: none;
  border: none; }

.reveal .roll span:after {
  color: #fff;
  background: #ff0000; }


  /* slide backgrounds */

html.cat body {
	background:url("../img/draftbin/catbokeh.jpeg");
}

html.house body {
	background:url("../img/draftbin/solar.jpg");
	background-repeat: no-repeat;
	background-position:center;
	background-size: 100%;
}

html.teeth body {
	background:url("../img/draftbin/teeth.png");
	background-repeat: no-repeat;
	background-position:center;
	background-size: 100%;
}

html.moon body {
	background:url("../img/draftbin/moon.jpg");
	background-repeat: no-repeat;
	background-position:center;
	background-size: 100%;
}

html.makers body {
	background:url("../img/draftbin/makers.jpg");
	background-repeat: no-repeat;
	background-position:center;
	background-size: 100%;
}

